@import 'main.scss';
@import 'header.scss';
@import 'footer.scss';

.text-area-contact_container{
    display: flex;
  }

  .text_contact{
    display: inline block;
  }
  .column_main-text{
    max-width: 475px;
    min-height: 174px;
    line-height: 55px;
    color: $black;
    font-size: 30px;
    font-style: bold;
    word-spacing: 5px;
  }
  .column_small-text{
    max-width: 445px;
    width: 100%;
    color: $black;
    font-size: 16;
    line-height: 26px;
    padding-bottom: 15px;
  }


  .form {
    display: flex;
    margin-left: 150px;
    margin-top: 64px;
    flex-direction: column;
    justify-content: left;
  }


.button{
    position: relative;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    min-width: 125px;
    background-color: $purple;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
    border-radius: 0;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0px;
    color: $white;
    border: none;
    margin-left:145px;
    margin-top: 30px;
}

.input-field {
  background-color: $white;
  border-bottom: 1px solid $gray;
  border-left: transparent;
  border-right: transparent;
  border-top: transparent;
  padding: 15px;
  min-width:445px;
  width: 100%;
  min-height: 50px;
  color: $black;
  font-size: 18px;
  padding: 5px;
}

.input-field::placeholder{
font-family: 'Mulish';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: $black;
mix-blend-mode: normal;
opacity: 0.6;}

.contact-page_image{
margin-top: 30px;
margin-bottom: 30px;
}




