header {
    width: 100%;
    max-width: 1109px;
    margin: 0 auto;
    padding: 0 20px;
    display: block;
    &__container{
    padding-bottom: 50px;
    }
    &__menu {
    display: flex;
    align-items: center;
    }
}

 .menu {
        display: flex;
        align-items: center; 
        &__logo {
        flex: 1 1 auto;
        width: 70px;
        height: 19.3px;
        }
        &__body {
         margin-right: 30px;
        }
        &__list {
        display: flex;
        -moz-column-gap: 25px;
         column-gap: 25px;
        list-style: none;
        }
        &__link {
        font-size: 18px;
        font-style: bold;
        color: black;
        text-decoration: none;
        }
        &__link:hover {
        text-decoration: underline;
        }
    }
  