@import 'main.scss';
@import 'header.scss';
@import 'footer.scss';

.greeting {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-top: 30px;
    position: relative;
    &_column{
    display: flex;
    flex-direction: column;
    max-width: 635px;
    width: 100%;
  }
    &_main-text{
    font-size: 40;
    font-style: bold;
    display: inline-block;
    flex-direction: column;
    max-width: 635px;
    color: $black;
  }
    &_small-text{
    color: $purple;
    font-size: bold;
    font-size: 22px;
    display: flex;
    flex-direction: column;
  }
    &_undertext{
        display: inline-block;
        justify-content: right;
        font-style: italic;
        padding-left: 60px;
        font-size: 18;
    }
  }
  
    .text-purple{
    color: $purple
  }
    .grid_container-big{
        width: 100%;
        display: block;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: hidden;
        padding-top: 144px;
      }
      
      .grid_container {
        display: grid;
        max-width: 1109px;
        width: 100%;
        max-height: 1963px;
        height: 100%;
        overflow: hidden;
        gap: 15px;
        grid-template-rows: repeat(32, 59px);
        grid-template-columns: repeat(9, 118px);
        
      }

      .item-1{
        grid-row: 1/7;
        grid-column: 1/4;
      }
      .item-2{
        grid-row: 7/14;
        grid-column: 1/4;
      }
      .item-3{
        grid-row: 14/22;
        grid-column: 1/4;
      }
      .item-4{
        grid-row: 21/32;
        grid-column: 1/4;
      }
      .item-5{
        grid-row: 1/6;
        grid-column: 4/7;
      }
      .item-6{
        grid-row: 6/12;
        grid-column: 4/7;
      }
      .item-7{
        grid-row: 12/20;
        grid-column: 4/7;
      }
      .item-8{
        grid-row:20/32;
        grid-column: 4/7;
      }
      .item-9{
        grid-row:1/10;
        grid-column: 7/9;
      } 
      .item-10{
        grid-row:10/16;
        grid-column: 7/9;
      }
      .item-11{
        grid-row:16/24;
        grid-column: 7/9;
      }
      .item-12{
        grid-row:24/32;
        grid-column: 7/9;
      }
      .text-area2 {
        padding-top: 30px;
        width: 100%; 
        }
      .grid-text-container {
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding-top: 50px;
        position: relative;
        height: 100px;
        }

        .main-column-text{
        font-size: 28;
        font-style: bold;
        display: inline-block;
        flex-direction: column;
        max-width: 635px;
        color: $black;
        line-height: 38px;
        margin-top: -40px;
        }
    
        .main-row-text {
        display: flex;
        justify-content: space-between;
        height: 106px;
        padding-top: 10px;
        }
        .main_list-item{
        list-style: none;
        font-size: 18;
        font-style: normal;
        line-height: 38px;
        }
        .grid-list {
         align-self: flex-end;
         }
        .awards {
            display: flex;
            flex-direction: column;
            justify-content: left;
            padding-top: 50px;
            position: relative;
            min-height: 823px;
        }

        .awards {
          margin-bottom: 50px;
          &__row {
          padding: 48px 0 58px 0;
          display: grid;
          grid-template-columns: 1.4fr 1fr 1.7fr 1.2fr 1fr;
          grid-template-rows: 1fr 1fr;
          gap: 50px;
          border-top: 2px solid $graylight;
          &:last-child {
            border-bottom: 2px solid $graylight;
          }
        }
          &__name {
            font-size: 22px;
            font-weight: 700;
          }   
          &__nomination{
          grid-column: 3/4;
          font-size: 18px;
          font-weight: 700;
        }
          &__nomin-details{
            grid-column: 4/5;
            font-size: 16px;
            font-weight: 400;
        }
          &__text {
          grid-column: 4/5;
          font-size: 16px;
          font-weight: 400;
        }
          &__year {
          font-size: 16px;
          text-align: right;
          grid-column: 5/6;
        }
        }